<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label width-7 query-keyword">Expression</label>
            <input type="text" class="gf-form-input ng-pristine ng-untouched ng-valid ng-empty"
                   ng-model="ctrl.target.timelion_exp"
                   spellcheck="false" placeholder="Timelion query" ng-blur="ctrl.refresh()">
            <div class="gf-form max-width-15">
                <label class="gf-form-label query-keyword">Alias</label>
                <input type="text" class="gf-form-input ng-pristine ng-untouched ng-valid ng-empty"
                       ng-model="ctrl.target.alias" spellcheck="false" placeholder="alias patterns"
                       ng-blur="ctrl.refresh()">
            </div>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form query-keyword omax-width-15">
            <label class="gf-form-label width-7">Interval</label>
            <metric-segment-model property="ctrl.interval" get-options="ctrl.intervalOptions"
                                  on-change="ctrl.refresh()" css-class="width-12"
                                  custom="true"></metric-segment-model>
        </div>
    </div>
</query-editor-row>